/* Home  */
header {
    background-color: #85CDF5;
}

#section-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-link {
    color: black;
    text-decoration: none;
}

.header-link:hover {
    text-decoration: underline black;
}

#title-section {
    display: flex;
    color: white;
    flex-wrap: wrap;

    background-image: url("../images/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
}

#title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-h1 {
    font-size: 7.5vh;
    font-weight: bolder;
}

#description {
    width: 50%;
    font-size: 2.5vh;
}



#about-section {
    color: white;
    display: flex;
    background-color: #2C5680;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    height: 40vh;
}

#about-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-h1 {
    color: #DEB959;
    font-size: 5vh;
    font-weight: bolder;
}

#about-p {
    display: flex;
    width: 75%;
    line-height: 3.5vh;
    font-size: 2.5vh;
}

#values-section {
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    padding: 5vh;
}

#value-cards {
    display: flex;
    line-height: 3vh;
    margin: 5vh;
}

#values-h1 {
    color: #DEB959;
    font-size: 5vh;
    font-weight: bolder;
}

.cards-image {
    background-color: white;
    border-radius: 10vh;
}


#lobos1-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh;
}

#lobos-h1 {
    color: #DEB959;
    font-size: 5vh;
    font-weight: bolder;
}

.lobos-p {
    line-height: 2.5vh;
}

#lobos2-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh;
}

footer {
    background-color: #333333;
    padding: 8vh;
}

#footer-section {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 280px;
    width: 380px;
    margin: 1vh;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 280px;
    width: 380px;
}

.informations-footer {
    margin: 2vh;
}

#developed-by {
    display: flex;
    flex-direction: column;
}

#button-footer {
    border: none;
    font-size: 1.5vh;
    background-color: #DEB959;
    font-weight: bolder;
    text-align: center;
    padding: 1vh;
}

#link-quem-somos {
    color: black;
    text-decoration: none;
}

/* Quem somos */

#who-we-are-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
    padding: 3vh;
}

#who-we-are-h1{
    font-size: 5.5vh;
    margin: 3vh;
}

#who-we-are-div {
    width: 75%;
    font-size: 3vh;
}